doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div(class='logo') 
        a(href='/') 
          img(src="/images/logo.png", alt="logo icon")
        p Computer Parts Shop
      ul(class="navItems")
        li
            a(href='/') Home
        li
            a(href='/catalog') Products
        li
            a(href='/category') Categories
        li
            a(href='/manufacturer') Manufacturers
        li
            a(href='/locations') Locations
    main
      section(class='sidebar')
        li
          a(href='/catalog/hardware/create') Create Products
        li
          a(href='/category/create') Create Categories
        li
          a(href='/manufacturer/create') Create Manufacturers
        li
          a(href='/locations/create') Create Locations
      section(class='mainContent')
        block content
    footer
      p
        a(href="https://github.com/JLouisa/inventory-application" target="_blank") 
          img(src="/images/github-original.svg" alt="github icon" class="github")
        p © 2023 Jonathan Louisa
