:root {
  --fontColor: #fff;
  --bgColor: #333;
  --bgColorLight: #777;
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bgColor);
  color: var(--fontColor);
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--fontColor);
  padding: 1em;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navItems {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

li {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 700;
}

li:hover {
  text-decoration: underline;
}

main {
  display: flex;
  gap: 3em;
  padding: 2em;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hardwareForms form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.error {
  color: crimson;
}

.theform div {
  display: flex;
  flex-direction: column;
}

footer {
  border-top: 2px solid var(--fontColor);
}

footer p {
  font-size: 2rem;
  text-align: center;
  padding: 1em;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  text-decoration: none; /* Remove underlines for anchor elements */
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0.2em;
}

/* Hover effect */
.btn:hover {
  background-color: #0056b3; /* Darker color on hover */
}
