extends ../layout

block content
    h1= title
    p= text
    div(class='error')
        if errors
            ul
                each error in errors
                    li= error.msg
    div(class='hardwareForms')
        form(Method="POST" action="" class="theform")
            label(for="name") Category name:
            input(type="text", name="name" placeholder='name' value= oldCategory && oldCategory.name ? oldCategory.name : "")
            label(for="description") Description:
            textarea(name="description" cols="30" rows="10" placeholder=oldCategory && oldCategory.description ? oldCategory.description : "Enter a description...")= oldCategory && oldCategory.description ? oldCategory.description: ""
            input(type='submit' value='save')